@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 5px;
    font-family: "Quicksand", sans-serif;
    background-color:azure;
    color: midnightblue;
    text-align: center;
    position: relative;
}

.header h1 {
    font-size: 35px;
}

.nav {
    font-size: 22px;
    font-style: italic;
}

.main h2 {
    font-size: 30px;
}

.main article {
    font-size: 22px;
}

.footer article {
    font-size: 22px;
    font-style: italic;
}

.footer p {
    font-size: 22px;
}
